$primary-color: #5932ea;

$black: #000000;
$dark-gray: #292d32;
$medium-gray: #404b52;
$light-gray: #757575;
$lighter-gray: #838383;
$gray: #9197b3;
$lightest-gray: #fafbff;
$very-light-gray: #f5f5f5;
$extra-light-gray: #eeeeee;
$border-gray: #b5b7c0;
$background-gray: #f9fbff;
$white: #ffffff;

$success-color: #008767;
$success-light: #16c098;
$success-opacity: #16c09861;

$error-color: #df0404;
$error-light: #ffc5c5;

$shadow: 0px 10px 60px 0px #e2ecf980;
