<aside id="sidebar-container" class="sidebar" aria-label="Sidebar navigation">
  <button
    class="sidebar__close"
    id="sidebarClose"
    aria-expanded="true"
    aria-label="Close sidebar"
  >
    <i class="fa-solid fa-times"></i>
  </button>

  <div class="sidebar__top">
    <div class="sidebar__logo">
      <img src="../assets/icons/logo.svg" alt="Company Logo" />
      <span>v.01</span>
    </div>
    <nav class="sidebar__nav" aria-label="Sidebar navigation" role="navigation">
      <ul class="sidebar__list" aria-label="Main sidebar navigation">
        <li class="sidebar__item">
          <a
            href="#dashboard"
            class="sidebar__link"
            aria-label="Dashboard section"
          >
            <div class="sidebar__name">
              <svg class="icon">
                <use xlink:href="../assets/icons/sprite.svg#dashboard"></use>
              </svg>
              <span>Dashboard</span>
            </div>
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#product" class="sidebar__link" aria-label="Product section">
            <div class="sidebar__name">
              <svg class="icon">
                <use xlink:href="../assets/icons/sprite.svg#product"></use>
              </svg>
              <span>Product</span>
            </div>
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        <li class="sidebar__item">
          <a
            href="#customers"
            class="sidebar__link"
            aria-label="Customers section"
          >
            <div class="sidebar__name">
              <svg class="icon">
                <use xlink:href="../assets/icons/sprite.svg#customers"></use>
              </svg>
              <span>Customers</span>
            </div>
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#income" class="sidebar__link" aria-label="Income section">
            <div class="sidebar__name">
              <svg class="icon">
                <use xlink:href="../assets/icons/sprite.svg#income"></use>
              </svg>
              <span>Income</span>
            </div>
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#promote" class="sidebar__link" aria-label="Promote section">
            <div class="sidebar__name">
              <svg class="icon">
                <use xlink:href="../assets/icons/sprite.svg#promote"></use>
              </svg>
              <span>Promote</span>
            </div>
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#help" class="sidebar__link" aria-label="Help section">
            <div class="sidebar__name">
              <svg class="icon">
                <use xlink:href="../assets/icons/sprite.svg#help"></use>
              </svg>
              <span>Help</span>
            </div>
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="sidebar__user">
    <img
      src="../assets/images/user.png"
      alt="Evano, Project Manager"
      class="user-avatar"
    />
    <div class="user-info">
      <p>Evano</p>
      <span>Project Manager</span>
    </div>
  </div>
</aside>
