@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

@import 'common/vars';
@import 'common/breakpoints';
@import 'common/mixins';
@import 'common/reset';
@import 'common/content';

@import 'header';
@import 'customers';
@import 'sidebar';

:root {
  font-family: 'Poppins', sans-serif;
  background-color: $lightest-gray;
}

body {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    flex-direction: row;
  }
}
