@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
/*
screen types: 
    mobile,
    to-desktop
    desktop,
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 0px);
  gap: 51px;
  width: 100%;
  padding: 40px 20px;
  grid-area: 41px;
}
@media screen and (min-width: 1280px) {
  .content {
    padding: 41px 71px;
  }
}
.content .content-section {
  display: none;
}
.content .content-section.active {
  display: block;
}
.content .wave-emoji {
  display: inline-block;
  opacity: 0;
  transform-origin: bottom right;
  transition: opacity 0.5s ease;
}
.content .wave-emoji.animate {
  animation: wave 1s ease;
  animation-iteration-count: 2;
  opacity: 1;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.content section {
  padding: 16px 12px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5019607843);
}
@media screen and (min-width: 1280px) {
  .content section {
    padding: 30px 40px 40px;
    border-radius: 30px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}
@media screen and (min-width: 1280px) {
  .header {
    display: none;
  }
}

.customers-section__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1280px) {
  .customers-section__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.customers-section__header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  width: 100%;
}
.customers-section__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}
.customers-section__active-members {
  background-color: transparent;
  padding: 0;
  color: #16c098;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.customers-section__search-wrapper {
  position: relative;
  display: inline-block;
}
.customers-section__search-wrapper .customers-section__search-input {
  padding-left: 32px;
  padding-right: 8px;
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 10px;
  background-color: #f9fbff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  box-sizing: border-box;
}
@media screen and (min-width: 1280px) {
  .customers-section__search-wrapper .customers-section__search-input {
    width: 216px;
  }
}
.customers-section__search-wrapper .customers-section__search-input:focus {
  outline: none;
}
.customers-section__search-wrapper .customers-section__search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #9197b3;
}
.customers-section__search-input:focus + .customers-section__search-wrapper .customers-section__search-icon {
  fill: #5932ea;
}
.customers-section__pagination-container {
  margin: 20px 0 0;
}
.customers-section__pagination-container .pagination {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 16px;
}
@media screen and (min-width: 1280px) {
  .customers-section__pagination-container .pagination {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.customers-section__pagination-container .showing-data {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #b5b7c0;
}
.customers-section__pagination-container .pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.customers-section__pagination-container .pagination li a {
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px;
  width: 26px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404b52;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
.customers-section__pagination-container .pagination li a:hover {
  background-color: #f9fbff;
}
.customers-section__pagination-container .pagination li a.active {
  background-color: #5932ea;
  color: #ffffff;
}
.customers-section__pagination-container .pagination .prev,
.customers-section__pagination-container .pagination .next {
  font-size: 9px;
  font-weight: 500;
  line-height: 12px;
}

.table-wrapper {
  width: 100%;
}
@media screen and (max-width: 1279.98px) {
  .table-wrapper {
    overflow-x: auto;
  }
}

.customer-table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  white-space: nowrap;
  margin-top: 40px;
}
.customer-table thead {
  position: relative;
}
.customer-table thead::after {
  content: "";
  position: absolute;
  left: -40px;
  display: block;
  width: calc(100% + 80px);
  height: 1px;
  background-color: #eeeeee;
}
.customer-table thead th {
  color: #b5b7c0;
  font-size: 14px;
  font-weight: 500 !important;
  line-height: 21px;
  padding: 0 0 14px;
  text-align: left;
}
.customer-table thead th:last-child {
  text-align: center;
  width: 80px;
}
.customer-table tbody tr {
  border-bottom: 1px solid #eeeeee;
}
.customer-table tbody tr td {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #292d32;
  padding: 20px 0;
}
.customer-table tbody tr td:last-child {
  width: 80px;
}
.customer-table .status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 4px;
  width: 80px;
}
.customer-table .status.active {
  color: #008767;
  background-color: rgba(22, 192, 152, 0.3803921569);
  border: 1px solid #008767;
}
.customer-table .status.inactive {
  color: #df0404;
  background-color: #ffc5c5;
  border: 1px solid #df0404;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 306px;
  height: 100%;
  min-height: 100vh;
  padding: 36px 28px 76px;
  background-color: #ffffff;
  gap: 64px;
  transition: transform 0.3s ease;
  overflow-y: auto;
}
.sidebar.active {
  transform: translateX(0);
}
@media screen and (max-width: 1279.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 10;
    width: 100vw;
    padding: 14px 20px 40px;
    gap: 24px;
  }
  .sidebar.active {
    transform: translateX(0);
  }
}
.sidebar__top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1280px) {
  .sidebar__top {
    gap: 64px;
  }
}
.sidebar__logo {
  display: flex;
  align-items: flex-end;
}
.sidebar__logo span {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #838383;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.sidebar__item {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 8px;
  color: #9197b3;
  transition: background-color 0.3s, width 0.3s;
}
.sidebar__item:hover {
  background-color: #f9fbff;
}
.sidebar__item:hover i {
  animation: slide-left-right 0.6s ease-in-out;
}
@keyframes slide-left-right {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.sidebar__item--active, .sidebar__item--active:hover {
  background-color: #5932ea;
  color: #ffffff;
}
.sidebar__item--active use, .sidebar__item--active:hover use {
  stroke: #ffffff;
  fill: #ffffff;
  color: #ffffff;
}
.sidebar__item .sidebar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 8px 11px 11px;
  width: 100%;
}
.sidebar__item .sidebar__link .icon {
  stroke: #9197b3;
  font-size: 9px;
}
.sidebar__item .sidebar__link i {
  font-size: 9px;
}
.sidebar__name {
  display: flex;
  align-items: center;
  gap: 14px;
}
.sidebar__name svg {
  width: 24px;
  height: 24px;
}
.sidebar__name span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.sidebar__user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar__user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.sidebar__user .user-info {
  display: flex;
  flex-direction: column;
}
.sidebar__user p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.sidebar__user span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #9197b3;
}
.sidebar__toggle {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .sidebar__toggle {
    display: none;
  }
}
.sidebar__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .sidebar__close {
    display: none;
  }
}

:root {
  font-family: "Poppins", sans-serif;
  background-color: #fafbff;
}

body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  body {
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */